@page
@model RazorPagesFile.Pages.MiniFiles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MiniFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MiniFile.Id" />
            <div class="form-group">
                <label asp-for="MiniFile.FileName" class="control-label"></label>
                <input asp-for="MiniFile.FileName" class="form-control" />
                <span asp-validation-for="MiniFile.FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiniFile.Content" class="control-label"></label>
                <input asp-for="MiniFile.Content" class="form-control" />
                <span asp-validation-for="MiniFile.Content" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MiniFile.IsCurrentlyEdit" /> @Html.DisplayNameFor(model => model.MiniFile.IsCurrentlyEdit)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MiniFile.BeginTime" class="control-label"></label>
                <input asp-for="MiniFile.BeginTime" class="form-control" />
                <span asp-validation-for="MiniFile.BeginTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

