@page
@model RazorPagesFile.Pages.LockModel

@{
    ViewData["Title"] = "Lock";
}

<h1>Lock Page</h1>

<hr />

<h2 class="text-danger">The file is edited by another user. Please try again one minute later.</h2>

<div>
    <a asp-page="./View">Back to View Page</a>
</div>