@page
@model RazorPagesFile.Pages.ViewModel

@{
    ViewData["Title"] = "View";
}

<h1>View Page</h1>
<hr />
<p>
    <a asp-page="New">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MiniFile[0].FileName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MiniFile) {
        <tr>
            <td>
                <a href="~/FileStorage/@item.FileName" download="">@Html.DisplayFor(modelItem => item.FileName)</a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>